<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center">Leaderboard</h1>
        {{#if leaderboard}}
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Stars</th>
                </tr>
            </thead>
            <tbody>
                {{#each leaderboard}}
                <tr>
                    <th scope="row">{{math @index "+" 1}}</th>
                    {{#if ../user.admin}}
                    <td><a href="/users/{{this.username}}">{{this.name}}</a></td>
                    {{else}}
                    <td>{{this.name}}</td>
                    {{/if}}
                    <td>{{this.class}}</td>
                    <td>{{this.score}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="alert alert-info">
            No users on the leaderboard!
        </div>
        {{/if}}
    </div>
</row>