<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!--div class="alert alert-dark">
            <i class="fas fa-flag-checkered"></i> The race is now over. Congratulations to Mao Kaiwen, Tan Wei Heng and Colin Chung for winning the popular vouchers!
        </div-->
        <h1 class="text-center">Leaderboard</h1>
        {{#if leaderboard}}
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Stars</th>
                </tr>
            </thead>
            <tbody>
                {{#each leaderboard}}
                <tr>
                    <th scope="row">
                        {{#if this.admin}}
                            <span class="text-muted">Admin</span>
                        {{else}}
                            {{math @index "+" 1}}
                        {{/if}}
                    </th>
                    {{#if ../user.admin}}
                    <td><a href="/users/profile/{{this._id}}">{{this.name}}</a></td>
                    {{else}}
                    <td>{{this.name}}</td>
                    {{/if}}
                    <td>{{this.class}}</td>
                    <td>
                        {{#if this.admin}}
                            N/A
                        {{else}}
                            {{this.score}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="alert alert-info">
            No users on the leaderboard!
        </div>
        {{/if}}
    </div>
</div>