<div class="row">
    <div class="col-lg-6 offset-lg-3 text-center">
        <h1 class="text-center">User Information</h1>
        <dl class="row">
            <dt class="col-lg-6">Username</dt>
            <dd class="col-lg-6">{{user.username}}</dd>
            <dt class="col-lg-6">Email</dt>
            <dd class="col-lg-6">{{user.email}}</dd>
            <dt class="col-lg-6">Class</dt>
            <dd class="col-lg-6">{{user.class}}</dd>
            <dt class="col-lg-6">Phone</dt>
            <dd class="col-lg-6">{{user.phone}}</dd>
            <dt class="col-lg-6">Score</dt>
            <dd class="col-lg-6">{{user.score}}</dd>
        </dl>
        {{#if user.admin}}
        <form action="#?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Delete User</button>
        </form>
        {{/if}}
    </div>
</div>